<!-- TODO refactor this to a .css file -->
<style>
.dlge-button {
  line-height: 15px;
  width: 27px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 480px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 10px;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* This is the tooltip bubble pointer. */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>

<div style="width: 900px; height:100%;">
  <form id="bloodTypes-settings-form">
    <div class="form-fields">
      {{#if bloodTypesList}}
        <table id="bloodTypesList" data-pagecount="5">
          <thead>
            <tr>
              <th style="text-align:center">{{ localize "DeadlandsEnchantments.Settings.bloodTypes.name.title" }}</th>
              <th style="text-align:center">{{ localize "DeadlandsEnchantments.Settings.bloodTypes.title" }}</th>
              <th style="text-align:center"></th>
            </tr>
          </thead>
          <tbody>
            {{#each bloodTypesList}}
              <tr style="font-size: 80%">
                <td>
                  <div class="tooltip" style="text-align:left">
                    <span style="font-weight: bold">{{this.bloodTypesTitle}}</span>
                    <span class="tooltiptext" style="font-style: italic">{{this.bloodTypesHint}}</span>
                  </div>
                </td>
                <td style="text-align:left">{{this.bloodTypesCreatures}}</td>
                <td style="text-align:center">
                  <button class="dlge-button" id="DeadlandsEnchantments-edit-blood-types-{{this.bloodTypesName}}"
                    onclick="document.getElementById('bloodTypesCreatures').value='{{clean this.bloodTypesCreatures}}';
                             document.getElementById('bloodTypesName').value='{{this.bloodTypesName}}';
                             document.getElementById('bloodTypesTitle').textContent = '{{this.bloodTypesTitle}}';
                             return false;"><i class="fas fa-edit"></i></button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        {{ localize "DeadlandsEnchantments.Settings.noBloodTypes" }}
      {{/if}}
    </div>
    <br>
    <div class="form-group">
      <label>
        {{ localize "DeadlandsEnchantments.Settings.bloodTypes.title" }}
      </label>
      <div class="form-fields">
        <input type="hidden" id="bloodTypesName" name="bloodTypesName" value="" data-dtype="String">
        <input class="bloodTypesDrop" type="text" id="bloodTypesCreatures" name="bloodTypesCreatures" value="" data-dtype="String">
      </div>
    </div>
    <div class="form-fields" style="font-weight: bold;text-align:right" id="bloodTypesTitle">-</div>
    <p class="notes">{{ localize "DeadlandsEnchantments.Settings.bloodTypes.note" }}</p>
    <br>
    <button type="submit">
      <i class="fas fa-save"></i>{{localize "DeadlandsEnchantments.Settings.save"}}
    </button>
  </form>
</div>
