<!-- TODO refactor this to a .css file -->
<style>
.dlge-button {
  line-height: 15px;
  width: 27px;
}

.dleg-button {
  padding: 2px 2px;

}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 480px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 10px;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* This is the tooltip bubble pointer. */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>

<div style="width: 900px; height:100%;">
  <form id="gunTypes-settings-form">
    <div class="form-fields">
      {{#if gunTypesList}}
        <table id="gunTypesList" data-pagecount="5">
          <thead>
            <tr>
              <th style="text-align:center">{{ localize "DeadlandsEnchantments.Settings.gunType.name.title" }}</th>
              <th style="text-align:center">{{ localize "DeadlandsEnchantments.Settings.gunType.title" }}</th>
              <th style="text-align:center"></th>
            </tr>
          </thead>
          <tbody>
            {{#each gunTypesList}}
              <tr style="font-size: 80%">
                <td>
                  <div class="tooltip" style="text-align:left">
                    <span style="font-weight: bold">{{this.gunTypesTitle}}</span>
                    <span class="tooltiptext" style="font-style: italic">{{this.gunTypesHint}}</span>
                  </div>
                </td>
                <!-- <td style="text-align:left">{{this.gunTypesTitle}}</td> -->
                <td style="text-align:left">{{this.gunTypes}}</td>
                <td style="text-align:center">
                  <button class="dlge-button" id="DeadlandsEnchantments-edit-gun-types-{{this.gunTypesName}}"
                    onclick="document.getElementById('gunTypesName').value='{{this.gunTypesName}}';
                             document.getElementById('gunTypesTitle').textContent = '{{this.gunTypesTitle}}';
                             document.getElementById('gunTypes').value='{{clean this.gunTypes}}';
                             return false;"><i class="fas fa-edit"></i></button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        {{ localize "DeadlandsEnchantments.Settings.noGunTypes" }}
      {{/if}}
    </div>
    <br>
    <div class="form-group">
      <label>
        {{ localize "DeadlandsEnchantments.Settings.gunType.title" }}
      </label>
      <div class="form-fields">
        <input type="hidden" id="gunTypesName" name="gunTypesName" value="" data-dtype="String">
        <input class="gunTypesDrop" type="text" id="gunTypes" name="gunTypes" value="" data-dtype="String">
      </div>
    </div>
    <div class="form-fields" style="font-weight: bold;text-align:right" id="gunTypesTitle">-</div>
    <p class="notes">{{ localize "DeadlandsEnchantments.Settings.gunType.note" }}</p>
    <br>
    <button type="submit">
      <i class="fas fa-save"></i>{{localize "DeadlandsEnchantments.Settings.save"}}
    </button>
  </form>
</div>
